body {
    font-family: Arial, sans-serif;
    background: #16e7e7;
    margin: 0;
}

.container {
max-width: 600px;
margin: auto;
padding: 40px;
background-color: bisque;
margin-top: 40px;
margin-bottom: 20px;
padding-top: 10px;
}


h1 {
text-align: center;
color: #ff5722;
}


.add-recipe {
background: white;
padding: 15px;
border-radius: 10px;
margin-bottom: 20px;
padding-left: 40px;
}


input, textarea {
width: 90%;
padding: 10px;
margin: 8px 0;
border-radius: 5px;
border: 1px solid #ccc;
}


button {
background: #ff5722;
color: white;
padding: 10px;
border: none;
border-radius: 5px;
cursor: pointer;
}


button:hover {
background: #e64a19;
}


#search {
margin-bottom: 10px;
margin-right: 20px;
width: 60%;
}


.recipe-list {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 15px;
}


.recipe-card {
background: white;
padding: 10px;
border-radius: 8px;
cursor: pointer;
box-shadow: 0 10px 5px rgba(0,0,0,0.1);
}


.recipe-card img {
max-width: 100%;
height: 150px;
object-fit: cover;
border-radius: 5px;
}


.recipe-card h3 {
color: #ff5722;
}


/* Modal */
.modal {
display: none;
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.6);
}


.modal-content {
background: white;
margin: 10% auto;
padding: 20px;
padding-bottom: 5px;
width: 90%;
max-width: 600px;
border-radius: 8px;
margin-bottom: 80px;
margin-top: 10px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


.modal-content img {
max-width: 70%;
border-radius: 8px;
}


.close {
float: right;
font-size: 20px;
cursor: pointer;
}


@media (max-width: 600px) {
.modal-content {
margin-top: 20%;
}
}